<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demo_xocdebuild.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6740454226A04771FD1975A0D850F8CDFA30AF0C</string>
				<key>dateExpires</key>
				<string>2019/6/27</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B4JPFKWLRH.com.finup.demo-xocdebuild</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B4JPFKWLRH</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>B4JPFKWLRH.com.finup.demo-xocdebuild</string>
				</array>
			</dict>
			<key>name</key>
			<string>demo_xocdebuild.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b011f2fb-6870-4787-9ce7-d05341435e0d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.finup.demo-xocdebuild</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B4JPFKWLRH</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
